body
{
    background-color: rgb(110,131,203);
    width: 65%;
    margin: auto;
    font-size: 17px;
    text-align: justify;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
header
{
    padding-top: 40px;
}
header h1                                          /*header options*/
{
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    color: rgb(001,053,103);
}
header p
{
    font-weight: bold;
    font-size: 1.5em;
}
h1 em
{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-style: normal;
}
p em
{
    font-style: normal;
    text-decoration: underline rgb(001,053,103);
}

h2                                                  /*Options titres sections*/
{
    border-bottom: 2px solid rgb(001,053,103);
}
header i
{
    padding-right: 20px;
    color: rgb(001,053,103);
}


ul                                          /* MAIN liste à puces options*/
{
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    position: relative;
}
li
{
    display: flex;
    flex-direction: column;
}
.fleche
{
    color: rgb(001,053,103);
}
.lidate
{
    width: 20%;
    padding-right: 20px;
    font-family: 'Lato', sans-serif;
}
.litexte
{
    width: 70%;
}
.litexte h4
{
    font-family: 'Lato', sans-serif;
}
#ulinfo
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer article                              /*Options RECOMMANDATIONS*/
{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}
.personne
{
    padding-top: 25px;
}
.personne p
{
    margin: 3px;
    font-weight: bolder;
}
.personne a
{
    color: black;
}
.email
{
    font-weight: lighter;
}



#bandeau                                        /*bandeau*/
{
    background-color: rgb(001,053,103);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#contact
{
    font-weight: 200;
}
#bandeau p                                      /*texte bandeau*/
{
    padding-left: 30px;
    padding-right: 30px;
}

#bandeau h3                                     /*titre bandeau*/
{
    background-color: #0288D1;
    text-align: center;
}

#photocv                                       /*Photo cv options*/
{
    text-align: center;
    padding: 30px;
}
#photocv img
{
    border: 1px 1px solid black;
    border-radius: 50%;
    box-shadow: 0px 3px 3px black;
}

a                                               /*liens bandeau*/
{
    text-decoration: none;
    color: white;
}
a:hover
{
    text-decoration: underline;
}
.infos                                          /*CONTACT options*/
{
    display: flex;
    flex-direction: column;
    margin-top: 30px
}
.infos p
{
    margin: -1px;
}


#loisirs p                                    /*Logo loisirs Options*/
{
    text-align: center;
    font-size: 2.8em;
    padding-bottom: 20px;
}
#loisirs i
{
    padding-right: 7.5px;
    padding-left: 7.5px;
}

@media all and (min-width: 1024px)
{
    body
    {
        font-size: 0.80em;
        display: flex;
    }
    #page
    {
        display: flex;
        flex-direction: row-reverse;
    }
    #bandeau
    {
        width: 30%;
        margin-right: 50px;
    }
    #recommandations
    {
        display: flex;
        justify-content: space-around;
    }
   
}